form {
    width: 100%;
    legend {
        font-size: 36px;
        color: #fff;
        font-weight: 800;
        text-align: center;
        margin-bottom: 59px;
        margin: 0;
        padding: 0;
        display: block;
        -webkit-padding-start: 0;
        -webkit-padding-end: 0;
    }
    .inner-form {
        width: 100%;
        margin-bottom: 17px;
        .input-field {
            height: 70px;
            width: 100%;
            position: relative;
            .btn-search {
                width: 70px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                position: absolute;
                left: 0;
                height: 100%;
                background: transparent;
                border: 0;
                padding: 0;
                font-size: 24px;
                cursor: pointer;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                align-items: center;
                &:hover {
                    outline: 0;
                    box-shadow: none;
                    color: aqua;
                }
            }
            input {
                height: 100%;
                width: 100%;
                background: transparent;
                border: 0;
                background: #fff;
                display: block;
                width: 100%;
                padding: 10px 32px 10px 70px;
                font-size: 18px;
                color: #666;
                border-radius: 34px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}